In [1]:
import numpy as np

starting_balance = 5000.00
transactions = np.array([-13.43, -16.95, -10.82, -16.75, -21.61, -7.26, -14.83, -8.14, -11.12, -12.89, -20.94, -2.96, -9.79, 15.82, -4.62, -2.87, -26.98, -27.92, -22.16, -10.88, -23.52, -6.60, 13.80, -8.34, -6.56, -1.66, -12.38, -20.23, 0.58, -1.08, -22.32, -14.64, -8.03, -12.95, -22.03, -21.24, 4.52, -27.33, 18.71, -20.77, -4.52, -1.19, -15.29, -11.21, -14.02, -6.15, -22.89, 22.59, -26.33, -25.62, -0.16, -19.83, -8.25, -26.59, -1.03, -22.97, 20.92, -26.32, 8.15, -23.42, -10.61, -14.00, 23.52, -12.48, -29.84, -7.01, -24.21, -21.62, -19.11, -22.55, -12.22, -14.13, -21.71, -23.21, -21.14, -25.94, -1.96, -12.29, 10.85, -16.55, 29.69, -14.16, -0.94, -3.10, 10.60, -11.90, -4.75, -15.74, -7.98, -29.25, -18.60, 5.57, -12.95, -18.21, -22.83, -19.39, -29.30, 17.93, -5.08, -13.24])

In [22]:
bank1_balance=5000.00
for i in transactions:
    bank1_balance+=np.round(i,2)
    bank1_balance=np.round(bank1_balance,2)

In [17]:
np.round(5000.26,2)

5000.26

In [27]:
bank2_balance=5000.00
for i in transactions:
    bank2_balance+=np.trunc(i*100)/100
    bank2_balance=np.trunc(bank2_balance*100)/100

In [25]:
bank3_balance=5000.00
for i in transactions:
    bank3_balance+=i
bank3_balance=np.round(bank3_balance,2)

In [23]:
bank1_balance

3916.86

In [28]:
bank2_balance

3916.78

In [26]:
bank3_balance

3916.86

In [14]:
def select_bank(b, t):
    # b: this is the starting balance
    # t: this is the 1d numpy array with the monthly transactions

    # write your code snippet here
    bank1_balance=b
    for i in t:
        bank1_balance+=np.round(i)
        bank1_balance=np.round(bank1_balance)
    your_bank_choice=1
    your_final_balance=bank1_balance
    
    bank2_balance=b
    for j in t:
        bank2_balance+=np.trunc(j)
        bank2_balance=np.trunc(bank2_balance)
    if bank2_balance>your_final_balance:
        your_bank_choice=2
        your_final_balance=bank2_balance
    
    bank3_balance=b
    for k in t:
        bank3_balance+=k
    bank3_balance=np.round(bank3_balance)
    if bank3_balance>your_final_balance:
        your_bank_choice=3
        your_final_balance=bank3_balance
    return (your_bank_choice, your_final_balance)

In [15]:
select_bank(5000.00,transactions)

(2, 3950.0)

In [2]:
a = 10.24e2
print(a)

1024.0

In [10]:
x=1
y=5e-16
z=5e-16

In [11]:
x+y+z

1.0000000000000009

In [12]:
y+z+x

1.000000000000001

In [13]:
x+y

1.0000000000000004

In [1]:
(1,2)[0]

1

In [5]:
(np.cos(15)-1)*16/5+124.2829

118.65189867885177